.mat-chip.Goalkeeper {
  background-color: rgba(254, 185, 7, 0.3);
  color: black;
}
.mat-chip.Defender {
  background-color: rgba(0, 171, 210, 0.3);
  color: black;
}
.mat-chip.Midfielder {
  background-color: rgba(136, 201, 0, 0.3);
  color: black;
}
.mat-chip.Attacker {
  background-color: rgba(239, 30, 30, 0.3);
  color: black;
}
