table {
    width: 100%;
    margin-bottom: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-headline {
    background: #f5f5f5;
    color: rgba(0,0,0,.87);
    font: 500 20px/32px Roboto,"Helvetica Neue",sans-serif;
    margin: 0;
    box-shadow: 0 6px 6px -3px rgba(0,0,0,.2), 0 10px 14px 1px rgba(0,0,0,.14), 0 4px 18px 3px rgba(0,0,0,.12);
}
.mat-header-cell,
.mat-cell{
    text-align: center;
}
.mat-chip{
    border-radius: 20px;
    padding: 5px 15px;
    color: aliceblue;
}
.mat-fab{
    margin: 0 10px;
}
.cell-number{
    width: 50px;
}
th.left,
td.left{
    text-align: left;
    padding-left: 20px;
}
.qualified{
    background-color: #BBF3BB;
}
.mat-chip {
    border-radius: 20px;
    padding: 5px 15px;
    color: black;
}
.mat-chip.Goalkeeper {
    background-color: rgba(254, 185, 7, 0.3);
}
.mat-chip.Defender {
    background-color: rgba(0, 171, 210, 0.3);
}
.mat-chip.Midfielder {
    background-color: rgba(136, 201, 0, 0.3);
}
.mat-chip.Attacker {
    background-color: rgba(239, 30, 30, 0.3);
}