<mat-card>
  <mat-card-title>
    <div class="header">
      <div class="title">
        {{tournament?.name}}<span
          *ngIf="tournament?.tournamentType.format != 1 && tournament?.tournamentType.format != 4"> -
          {{tournament?.host}}</span>
      </div>
      <div class="actions">
        <button mat-fab aria-label="back to list" matTooltip="Back" (click)="goToList()">
          <mat-icon>keyboard_backspace</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>Summary</mat-card-subtitle>
  <mat-card-content>
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
      <mat-tab label="Standings" *ngIf="standings">
        <mat-tab-group mat-stretch-tabs class="">
          <mat-tab label="Play Offs" *ngIf="standings.playoffs.length > 0">
            <div *ngFor="let playoff of standings.playoffs;">
              <p class="group-headline text-center">{{playoff.roundName}}</p>
              <app-standings-round-tab [data]="playoff.matches"></app-standings-round-tab>
            </div>
          </mat-tab>
          <mat-tab label="Groups" *ngIf="standings.groups.length > 0">
            <div *ngFor="let group of standings.groups;">
              <p class="group-headline text-center">Group {{group.groupName}}</p>
              <app-standings-groups-tab [data]="group.positions"></app-standings-groups-tab>
            </div>
          </mat-tab>
          <mat-tab label="Rounds" *ngIf="standings.rounds.length > 0">
            <div *ngFor="let round of standings.rounds;">
              <p class="group-headline text-center">{{round.roundName}}</p>
              <app-standings-round-tab [data]="round.matches"></app-standings-round-tab>
            </div>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
      <mat-tab label="Final Table">
        <app-final-table-tab
          [data]="positions"
          [altData]="positionGroups"
          [isQualification]="tournament.tournamentType.format == 1"></app-final-table-tab>
      </mat-tab>
      <mat-tab label="Results">
        <app-results-tab [data]="matches"></app-results-tab>
      </mat-tab>
      <mat-tab label="Goalscorers">
        <app-goalscorers-tab [data]="goalscorers"></app-goalscorers-tab>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>