<mat-card>
    <mat-card-title>
        <div class="header">
            <div class="title">
                {{tournament?.name}}<span
                    *ngIf="tournament?.tournamentType.format != 1 && tournament?.tournamentType.format != 4"> -
                    {{tournament?.host}}</span>
            </div>
            <div class="actions">
                <button mat-fab aria-label="back to list" matTooltip="Back" (click)="goToList()">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-title>
    <mat-card-subtitle>Standings</mat-card-subtitle>
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
            <mat-tab label="Standings">
                <table *ngIf="tournament.tournamentType.format != 1; else qualificationStandings" mat-table
                    [dataSource]="positions" matSort class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                                      The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="noPosition">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> Pos </th>
                        <td mat-cell *matCellDef="let element"> {{element.noPosition}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef class="left"> Team </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.team?.flag}}"></span> {{element.team?.name}}
                        </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="confederationName">
                        <th mat-header-cell *matHeaderCellDef> Confederation </th>
                        <td mat-cell *matCellDef="let element" [attr.alt]="element.team?.confederation.name">
                            <mat-chip [style.backgroundColor]='element.team?.confederation.color'>
                                {{element.team?.confederation.name}}
                            </mat-chip>
                        </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="result">
                        <th mat-header-cell *matHeaderCellDef> Result </th>
                        <td mat-cell *matCellDef="let element"> {{element.result}} </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="gamesPlayed">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> GP </th>
                        <td mat-cell *matCellDef="let element"> {{element.gamesPlayed}} </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="wins">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> W </th>
                        <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="draws">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> D </th>
                        <td mat-cell *matCellDef="let element"> {{element.draws}} </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="loses">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> L </th>
                        <td mat-cell *matCellDef="let element"> {{element.loses}} </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="goalsFavor">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> GF </th>
                        <td mat-cell *matCellDef="let element"> {{element.goalsFavor}} </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="goalsAgainst">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> GA </th>
                        <td mat-cell *matCellDef="let element"> {{element.goalsAgainst}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
                        'qualified': row.qualified
                    }"></tr>
                </table>

                <ng-template #qualificationStandings>
                    <div *ngFor="let group of positionGroups.groups;">
                        <p class="group-headline text-center">Group {{group.groupName}}</p>
                        <table mat-table [dataSource]="group.positions" matSort class="mat-elevation-z8">
                            <!--- Note that these columns can be defined in any order.
                                            The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="noPosition">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> Pos </th>
                                <td mat-cell *matCellDef="let element"> {{element.noPosition}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="team">
                                <th mat-header-cell *matHeaderCellDef class="left"> Team </th>
                                <td mat-cell *matCellDef="let element" class="left">
                                    <span class="flag-icon flag-icon-{{element.team?.flag}}"></span>
                                    {{element.team?.name}}
                                </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="confederationName">
                                <th mat-header-cell *matHeaderCellDef> Confederation </th>
                                <td mat-cell *matCellDef="let element" [attr.alt]="element.team?.confederation.name">
                                    <mat-chip [style.backgroundColor]='element.team?.confederation.color'>
                                        {{element.team?.confederation.name}}
                                    </mat-chip>
                                </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="result">
                                <th mat-header-cell *matHeaderCellDef> Result </th>
                                <td mat-cell *matCellDef="let element"> {{element.result}} </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="gamesPlayed">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> GP </th>
                                <td mat-cell *matCellDef="let element"> {{element.gamesPlayed}} </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="wins">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> W </th>
                                <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="draws">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> D </th>
                                <td mat-cell *matCellDef="let element"> {{element.draws}} </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="loses">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> L </th>
                                <td mat-cell *matCellDef="let element"> {{element.loses}} </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="goalsFavor">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> GF </th>
                                <td mat-cell *matCellDef="let element"> {{element.goalsFavor}} </td>
                            </ng-container>

                            <!-- Confederation Column -->
                            <ng-container matColumnDef="goalsAgainst">
                                <th mat-header-cell *matHeaderCellDef class="cell-number"> GA </th>
                                <td mat-cell *matCellDef="let element"> {{element.goalsAgainst}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{
                                'qualified': row.qualified
                            }"></tr>
                        </table>
                    </div>
                </ng-template>
            </mat-tab>
            <mat-tab label="Fixture">
                <table mat-table [dataSource]="dataSourceMatches" class="mat-elevation-z8">

                    <!-- Name Column -->
                    <ng-container matColumnDef="date">
                        <th mat-header-cell *matHeaderCellDef> Date </th>
                        <td mat-cell *matCellDef="let element"> {{element.date | date: 'EEEE dd MMMM yyyy'}} </td>
                    </ng-container>

                    <!-- Group Column -->
                    <ng-container matColumnDef="group">
                        <th mat-header-cell *matHeaderCellDef> Group </th>
                        <td mat-cell *matCellDef="let element"> {{matchrounds[element.matchRound - 1].name}} <span *ngIf="element.group != null">{{element.group}}</span></td>
                    </ng-container>

                    <!-- Matchday Column -->
                    <ng-container matColumnDef="matchday">
                        <th mat-header-cell *matHeaderCellDef> Matchday </th>
                        <td mat-cell *matCellDef="let element"> <span *ngIf="element.matchday != null">Matchday {{element.matchday}}</span></td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="team1">
                        <th mat-header-cell *matHeaderCellDef> Home </th>
                        <td mat-cell *matCellDef="let element" [attr.alt]="element.team1.name">
                            <span class="flag-icon flag-icon-{{element.team1.flag}}"></span>
                            {{element.team1.name}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="goals1">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="cell-number">
                            {{element.goalsTeam1}} <span
                                *ngIf="element.penaltiesTeam1 > 0 || element.penaltiesTeam2 > 0">({{element.penaltiesTeam1}})</span>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="divider">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="cell-number">
                            -
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="goals2">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element" class="cell-number">
                            {{element.goalsTeam2}} <span
                                *ngIf="element.penaltiesTeam1 > 0 || element.penaltiesTeam2 > 0">({{element.penaltiesTeam2}})</span>
                        </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="team2">
                        <th mat-header-cell *matHeaderCellDef> Away </th>
                        <td mat-cell *matCellDef="let element" [attr.alt]="element.team2.name">
                            <span class="flag-icon flag-icon-{{element.team2.flag}}"></span>
                            {{element.team2.name}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsMatches"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsMatches;"></tr>
                </table>
            </mat-tab>
            <mat-tab label="Goalscorers">
                <table mat-table [dataSource]="dataSourceGoalscorers" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="noPosition">
                        <th mat-header-cell *matHeaderCellDef> Pos </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{(i+1) + (paginatorGoalscorers.pageIndex * paginatorGoalscorers.pageSize)}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.player?.fullName}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="positionName">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let element" [attr.alt]="element.player?.positionName">
                            <mat-chip [ngClass]="element.player?.positionName">
                                {{element.player?.positionName}}
                            </mat-chip>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef class="left"> Team </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.player?.team?.flag}}"></span>
                            {{element.player?.team?.name}}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="goals">
                        <th mat-header-cell *matHeaderCellDef> Goals </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.goals}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGoalscorers"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsGoalscorers;" [ngClass]="{
                        'goldenBoot': row.goldenBoot
                    }"></tr>
                </table>
                <mat-paginator #paginatorGoalscorers [pageSizeOptions]="[10, 20, 100]" [pageSize]="20"
                    [showFirstLastButtons]="true" [length]="dataSourceGoalscorers.length"></mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>