<mat-card class="form-card">
  <mat-card-title>
    <div class="header">
      <div class="title">Team</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>{{ isEditing ? '' : 'New team' }}</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="teamForm">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Ingrese el nombre del equipo"
          [formControl]="name"
        />
      </mat-form-field>

      <div class="row">
        <div class="col-lg-10">
          <mat-form-field class="full-width">
            <input
              matInput
              placeholder="Ingrese las iniciales"
              (change)="fillFlag($event)"
              [formControl]="flag"
            />
          </mat-form-field>
        </div>
        <div class="col-lg-2">
          <span class="flag-icon flag-icon-{{ teamFlag }}"></span>
        </div>
      </div>

      <mat-form-field class="full-width">
        <mat-select placeholder="Confederación" [formControl]="confederation">
          <mat-option
            *ngFor="let confederation of confederations"
            [value]="confederation.id"
          >
            {{ confederation.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          min="1"
          max="82"
          placeholder="Ingrese el ranking actual"
          [formControl]="actualrank"
        />
      </mat-form-field>

      <mat-form-field class="full-width">
        <input
          matInput
          type="number"
          step="0.25"
          placeholder="Ingrese los puntos"
          [formControl]="totalpoints"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-flat-button (click)="goToList()">Back</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        {{ isEditing ? 'Update' : 'Save' }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
