.row.header {
  text-align: center;
  font-weight: bold;
}

.form-card {
  width: 100%;
  margin: auto;
}

.mat-checkbox {
  position: absolute;
  bottom: 20px;
  left: 35px;
}

.result {
  text-align: center;
  display: initial;
}

.group input {
  text-transform: uppercase;
}

.row-header {
  margin-right: 15px;
}

.actions {
  display: flex;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 20px;
}

.mat-card-content div[class^='col'] {
  padding-right: 0;
}
