<mat-card class="form-card">
  <mat-card-title>
    <div class="header">
      <div class="title">Confederation</div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>{{
    isEditing ? '' : 'New confederation'
  }}</mat-card-subtitle>
  <mat-card-content>
    <form [formGroup]="confederationForm">
      <mat-form-field class="full-width">
        <input
          matInput
          placeholder="Ingrese el nombre de la confederación"
          [formControl]="name"
        />
      </mat-form-field>
      <div class="row">
        <div class="col-md-10">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Color"
              autocomplete="off"
              formControlName="color"
            />
          </mat-form-field>
        </div>
      </div>
      <mat-form-field class="example-full-width">
        <input
          matInput
          type="number"
          min="0"
          max="1"
          step="0.01"
          placeholder="Ingrese el valor"
          [formControl]="weight"
        />
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="actions">
      <button mat-flat-button (click)="goToList()">Back</button>
      <button mat-raised-button color="primary" (click)="onSubmit()">
        {{ isEditing ? 'Update' : 'Save' }}
      </button>
    </div>
  </mat-card-actions>
</mat-card>
