table {
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

th, td {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
}