table {
    width: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mat-header-cell,
.mat-cell{
    text-align: center;
}
:host ::ng-deep .mat-sort-header-container {
    justify-content: center;
}
.mat-chip{
    border-radius: 20px;
    padding: 5px 15px;
    color: aliceblue;
}
.mat-fab{
    margin: 0 10px;
}
.cell-number{
    width: 50px;
}
th.left,
td.left{
    text-align: left;
    padding-left: 20px;
}
.clickable:hover{
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
}