<mat-card>
  <mat-card-title>
    <div class="header">
      <div class="title">
        Teams
      </div>
      <div class="actions">
        <button mat-fab aria-label="Add new registry" matTooltip="Add" (click)="addAction()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>List of teams</mat-card-subtitle>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="left"> Name </th>
        <td mat-cell *matCellDef="let element" class="left">
          <span class="flag-icon flag-icon-{{element.flag}}"></span> {{element.name}}
        </td>
      </ng-container>

      <!-- Confederation Column -->
      <ng-container matColumnDef="confederationName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Confederation </th>
        <td mat-cell *matCellDef="let element" [attr.alt]="element.confederationName">
          <mat-chip [style.backgroundColor]='element.confederation?.color'>
            {{element.confederationName}}
          </mat-chip>
        </td>
      </ng-container>

      <!-- Ranking Column -->
      <ng-container matColumnDef="actualRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ranking </th>
        <td mat-cell *matCellDef="let element"> {{element.actualRank}} </td>
      </ng-container>

      <!-- Points Column -->
      <ng-container matColumnDef="totalPoints">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Points </th>
        <td mat-cell *matCellDef="let element"> {{element.totalPoints | number:'1.2'}} </td>
      </ng-container>

      <!-- Lowest Column -->
      <ng-container matColumnDef="rankingChange">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Change </th>
        <td mat-cell *matCellDef="let element"><i class="fa" [ngClass]="{'fa-arrow-up text-success': element.rankingChange > 0,
                                                              'fa-arrow-down text-danger': element.rankingChange < 0}">
                                                </i> {{element.rankingChange}} </td>
      </ng-container>

      <!-- Lowest Column -->
      <ng-container matColumnDef="lowestRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Lowest </th>
        <td mat-cell *matCellDef="let element"> {{element.lowestRank}} </td>
      </ng-container>

      <!-- Highest Column -->
      <ng-container matColumnDef="highestRank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Highest </th>
        <td mat-cell *matCellDef="let element"> {{element.highestRank}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let row">
          <button color="primary" (click)="navigateToEdit(row.id)" matTooltip="Edit" mat-icon-button
            aria-label="edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onDelete(row.id)" color="warn" matTooltip="Delete" mat-icon-button aria-label="remove">
            <mat-icon>delete</mat-icon>
          </button>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSizeOptions]="[10, 20, 100]" [pageSize]="10" [length]="teams.length"></mat-paginator>

  </mat-card-content>
</mat-card>