<mat-card>
    <mat-card-title>
        <div class="header">
            <div class="title">
                {{tournamentType?.name}}
            </div>
            <div class="actions">
                <button mat-fab aria-label="back to list" matTooltip="Back" (click)="goToList()">
                    <mat-icon>keyboard_backspace</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-title>
    <mat-card-subtitle>List of champions</mat-card-subtitle>
    <mat-card-content>
        <mat-tab-group mat-stretch-tabs class="example-strºetched-tabs mat-elevation-z4">
            <mat-tab label="Champions">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                    <!-- Position Column -->
                    <ng-container matColumnDef="noPosition">
                        <th mat-header-cell *matHeaderCellDef class="cell-number"> Pos </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            {{(i+1) + (paginator.pageIndex * paginator.pageSize)}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef class="left"> Team </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.flag}}"></span> {{element.name}}
                        </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="confederationName">
                        <th mat-header-cell *matHeaderCellDef> Confederation </th>
                        <td mat-cell *matCellDef="let element" [attr.alt]="element.confederation.name">
                            <mat-chip [style.backgroundColor]='element.confederation.color'>
                                {{element.confederation.name}}
                            </mat-chip>
                        </td>
                    </ng-container>

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="titles">
                        <th mat-header-cell *matHeaderCellDef> Titles </th>
                        <td mat-cell *matCellDef="let element"> {{element.titles}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[10, 20, 100]" [pageSize]="20"
                    [showFirstLastButtons]="true" [length]="teams.length"></mat-paginator>
            </mat-tab>
            <mat-tab label="History" *ngIf="tournamentTypeFormat != 1">
                <table mat-table [dataSource]="dataSourceHistory" class="mat-elevation-z8">

                    <!-- Confederation Column -->
                    <ng-container matColumnDef="tournament">
                        <th mat-header-cell *matHeaderCellDef class="left"> Tournament </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.hostFlag}}"></span> 
                            {{element.host}} {{element.year}} 
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="champion">
                        <th mat-header-cell *matHeaderCellDef class="left"> Champion </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.positions[0].team?.flag}}"></span> {{element.positions[0].team?.name}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="runnerUp">
                        <th mat-header-cell *matHeaderCellDef class="left"> Runner Up </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.positions[1].team?.flag}}"></span> {{element.positions[1].team?.name}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="third">
                        <th mat-header-cell *matHeaderCellDef class="left"> Third </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.positions[2].team?.flag}}"></span> {{element.positions[2].team?.name}}
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="fourth">
                        <th mat-header-cell *matHeaderCellDef class="left"> Fourth </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.positions[3].team?.flag}}"></span> {{element.positions[3].team?.name}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsHistory"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsHistory;"></tr>
                </table>
            </mat-tab>
            <mat-tab label="Goalscorers">
                <table mat-table [dataSource]="dataSourceGoalscorers" class="mat-elevation-z8">

                    <!-- Position Column -->
                    <ng-container matColumnDef="noPosition">
                        <th mat-header-cell *matHeaderCellDef> Pos </th>
                        <td mat-cell *matCellDef="let element; let i = index"> {{(i+1) + (paginatorGoalscorers.pageIndex * paginatorGoalscorers.pageSize)}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="positionName">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let element" [attr.alt]="element.positionName">
                            <mat-chip [ngClass]="element.positionName">
                                {{element.positionName}}
                            </mat-chip>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="team">
                        <th mat-header-cell *matHeaderCellDef class="left"> Team </th>
                        <td mat-cell *matCellDef="let element" class="left">
                            <span class="flag-icon flag-icon-{{element.team?.flag}}"></span> {{element.team?.name}}
                        </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="goals">
                        <th mat-header-cell *matHeaderCellDef> Goals </th>
                        <td mat-cell *matCellDef="let element">
                            {{element.goals}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGoalscorers"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsGoalscorers;"></tr>
                </table>
                <mat-paginator #paginatorGoalscorers [pageSizeOptions]="[10, 20, 100]" [pageSize]="20"
                    [showFirstLastButtons]="true" [length]="goalscorers.length"></mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>