table {
    width: 100%;
    margin-bottom: 20px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mat-header-cell,
.mat-cell{
    text-align: center;
}
.cell-number{
    width: 50px;
}
th.left,
td.left{
    text-align: left;
    padding-left: 20px;
}