<mat-toolbar color="primary" class="navbar mat-elevation-z5">
  <mat-toolbar-row>
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-mini-fab
      (click)="drawer.toggle()"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-icon class="title" fontIcon="home"></mat-icon>
    <span [routerLink]="['']">
      <h2 class="title">Teams Ranking</h2>
    </span>
  </mat-toolbar-row>
  <mat-progress-bar
    *ngIf="isLoading"
    class="progress-bar"
    mode="indeterminate"
    color="accent"
  ></mat-progress-bar>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [mode]="'over'"
    [opened]="isHandset$ | async"
  >
    <div color="primary" class="profile-section"></div>
    <mat-nav-list>
      <div *ngFor="let section of menuSections">
        <h2 matSubheader>
          {{ section.title }}
        </h2>
        <a
          *ngFor="let item of section.menuItems"
          mat-list-item
          [routerLink]="[item.url]"
          (click)="drawer.toggle()"
        >
          <mat-icon class="icon_menu">{{ item.icon }}</mat-icon>
          {{ item.title }}
        </a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="margin-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
