<mat-toolbar color="primary" class="navbar mat-elevation-z5">
  <mat-toolbar-row>
    <button type="button" aria-label="Toggle sidenav" mat-mini-fab (click)="drawer.toggle()">
      <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
    </button>
    <mat-icon class="title">home</mat-icon>
    <span [routerLink]="['']">
      <h2 class="title"> Teams Ranking</h2>
    </span>
  </mat-toolbar-row>
  <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate" color="accent"></mat-progress-bar>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="'over'" [opened]="(isHandset$ | async)">
    <div color="primary" class="profile-section"></div>
    <mat-nav-list>
      <h2 matSubheader>Statistics</h2>
      <a mat-list-item [routerLink]="['rankings']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">table_chart</mat-icon> Ranking
      </a>
      <a mat-list-item [routerLink]="['tournaments']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">event</mat-icon> Tournaments
      </a>

      <h2 matSubheader>Management</h2>
      <a mat-list-item [routerLink]="['matchtypes']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">build</mat-icon> Match Types
      </a>
      <a mat-list-item [routerLink]="['tournamenttypes']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">category</mat-icon> Tournament Types
      </a>
      <a mat-list-item [routerLink]="['confederations']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">public</mat-icon> Confederations
      </a>
      <a mat-list-item [routerLink]="['teams']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">group</mat-icon> Teams
      </a>
      <a mat-list-item [routerLink]="['players']" (click)="drawer.toggle()">
        <mat-icon class="icon_menu">person</mat-icon> Players
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="margin-container">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>