<mat-toolbar color="primary" class="navbar mat-elevation-z5">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-mini-fab (click)="drawer.toggle()">
        <mat-icon aria-label="Example icon-button with a heart icon">more_vert</mat-icon>
      </button>
      <span [routerLink]="['']">
        <h2 class="title">Ranking de Equipos</h2>
      </span>
  
    </mat-toolbar-row>
    <mat-progress-bar *ngIf="loading" class="progress-bar" mode="indeterminate" color="accent"></mat-progress-bar>
  
  </mat-toolbar>
  
  
  
  <mat-sidenav-container class="sidenav-container">
  
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [mode]="'over'" [opened]="(isHandset$ | async)">
      <div color="primary" class="profile-section">
  
      </div>
      <mat-nav-list>
        <h2 matSubheader>Administración</h2>
        <a mat-list-item [routerLink]="['matchtypes']" (click)="drawer.toggle()"><mat-icon class="icon_menu">matchtype</mat-icon> Tipos de Partidos</a>
        <a mat-list-item [routerLink]="['confederations']" (click)="drawer.toggle()"><mat-icon class="icon_menu">confederation</mat-icon> Confederaciones</a>
        <a mat-list-item [routerLink]="['teams']" (click)="drawer.toggle()"><mat-icon class="icon_menu">team</mat-icon> Equipos</a>
        <a mat-list-item [routerLink]="['rankings']" (click)="drawer.toggle()"><mat-icon class="icon_menu">ranking</mat-icon> Ranking</a>
        <a mat-list-item [routerLink]="['tournamenttypes']" (click)="drawer.toggle()"><mat-icon class="icon_menu">tournamenttype</mat-icon> Tipos de Torneos</a>
        <a mat-list-item [routerLink]="['tournaments']" (click)="drawer.toggle()"><mat-icon class="icon_menu">tournament</mat-icon> Torneos</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
  
      <main class="margin-container">
        <router-outlet></router-outlet>
      </main>
  
  
    </mat-sidenav-content>
  </mat-sidenav-container>